/* Genel Ayarlar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #202124;
    font-size: 13px;
}

a:hover {
    text-decoration: underline;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 60px;
}

.nav-left a, .nav-right a {
    margin: 0 10px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-icon span {
    color: #5f6368;
    cursor: pointer;
    font-size: 24px;
    margin: 0 15px;
    vertical-align: middle;
}

.sign-in-btn {
    background-color: #1a73e8;
    color: white;
    border: none;
    padding: 9px 23px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

/* MAIN ALANI */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-top: 100px; 
}

.logo-container img {
    width: 272px;
    margin-bottom: 20px;
}

/* Arama Alanı (Search Bar) */
.search-container {
    display: flex;
    align-items: center;
    width: auto; 
    height: 46px;
    border: 1px solid #dfe1e5;
    
    border-radius: 24px; 
    padding: 0 14px;
}

.search-container:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: transparent;
}

.search-icon, .voice-icon span {
    color: #9aa0a6;
    cursor: pointer;
    font-size: 20px;
}

.foto
{
    width: 35px;
    height: 35px;
    border-radius: 50px;
}


.search-input {
    width: 480px; 
    height: 100%;
    border: none; 
    outline: none; 
    font-size: 16px;
    padding: 0 10px;
}

/* BUTONLAR */
.button-container {    
    margin-top: 28px; 
    display: flex;
    justify-content: center;
}

.button-container button {
    background-color: #f8f9fa;    
    border: 1px solid #f2f2f2;    
    color: #5f6368;
    font-size: 14px;
    font-family: Arial, sans-serif;
    height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    cursor: pointer;    
    margin-right: 12px; 
}


.button-container button:hover {
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #202124;
}

/* FOOTER */
footer {
    
    background-color: #f2f2f2;
    color: #70757a;
    font-size: 14px;
}


.footer {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    flex-wrap: wrap;
}

/* Footer Liste Ayarları */
.footer-left, .footer-right {
    display: flex;
    list-style: none; 
}

.footer-left li, .footer-right li {
    margin-right: 25px; 
}

footer a {
    color: #70757a;
}