body 
{
     margin: 0;
     padding: 0;
     
}
.box
{
    width: 300px;
    height: 300px;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}
.card
{
    width: 20%;
    float: left;
    padding: 5%;
    margin-right: 2%;
    background-color: blueviolet;
    border-radius: 10%;
}
.left-bar
{
    width: 200px;
    float: left;
}

.content
{
    width: 800px;
    float: left;
}

.container
{
    
    width: 1000px;
   /* margin-left: auto;
    margin-right: auto;*/
    margin: 50px auto 0;
}

.clearfix
{
    clear: both;
}

.bg-red
{
    background-color: red;

}
.bg-green
{
    background-color: green;

}
.bg-yellow
{
    background-color: yellow;

}
/*************** Layout *****************
body 
{
     text-align: center;
     font-family: sans-serif;
}

.baslik1
{
    color: red;
    font-size: 40px;   
    
    
}

.baslik2
{
    color: purple;
    font-size: 30px;
    

}

.baslik3
{
    color: orange;
    font-size: 18px;

}

ul
{
    list-style-position: inside;

}

ol
{
    list-style-position: inside;

}

img
{
    width:800px ;
    height: 600px;
}

.sol
{
    text-align: left;
}


